.card-container{
    max-width: 500px;
    height: 100%;
    perspective: 400px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.card {
    height: 100px;
    width: 100px;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    margin: 10px;
    text-align: center;
    border-radius: 6px;
}
.rotated {
    transform: rotateY(180deg);
} 

.matched{
    background-color: green;
}

.card .side {
    max-width: 100px;
    max-height: 100px;
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    border-radius: 6px;
  }
  .card .back {
    background: #eaeaed;
    transform: rotateY(180deg);
  }

  .card .front {
    background:  #0087cc;
  }

  .card .back .fa{
    font-size: 30px;
  }


